@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/font/HelveticaNeue-Light-08.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('/font/HelveticaNeue-01.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('/font/HelveticaNeue-Medium-11.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('/font/HelveticaNeue-Bold-02.ttf');
  font-weight: 700;
  font-style: normal;
}

.root {
  @apply relative;
}

.bg {
  @apply absolute bottom-0 left-0 top-0 w-full flex-grow;
  background-image: radial-gradient(
      circle at 80.99% 40%,
      #ad1a7e83,
      transparent 50%
    ),
    url(/img/noise.svg);
  filter: contrast(1.8);
}

.main-layout {
  @apply prose prose-base relative z-10 mx-auto w-[700px] text-black md:prose-xl;
}

.main-layout a {
  @apply underline;
}

@media screen and (max-width: 750px) {
  .main-layout {
    width: 100%;
  }
}

strong {
  @apply font-bold;
}

.footer .container {
  max-width: 600px;
}

svg {
  @apply !inline-block;
}

ul {
  @apply ml-8 list-disc;
}

.black-section {
  @apply my-20 bg-black p-5 pb-12 text-white md:p-12;
}

.black-section h2 {
  @apply mt-5 text-white;
}

.black-section p {
  @apply mb-8;
}

.hbspt-form {
  @apply mb-20;
}

.twitter-tweet {
  @apply mx-auto;
}

.connectbutton button {
  @apply !rounded-full !px-4 !py-2 hover:!bg-themecolor-4;
}

.custom-select {
  color: gray;
}
