/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HelveticaNeue-Regular';
  src: url('/font/HelveticaNeue-Regular.otf');
}

strong {
  @apply font-bold;
}

.footer .container {
  max-width: 600px;
}

.headerGroupIcons:hover > *:not(:last-child) {
  transform: translateX(-5px);
  transition: 300ms;
}

.headerGroupIcons:hover > *:first-child {
  transform: translateX(-10px);
  transition: 300ms;
}

.hash-link {
  display: none;
}

.button.button--secondary {
  background-color: #e6007e;
  border-width: 0;
  color: #fff;
  text-decoration: none;
  @apply rounded-full;
  padding: 0.5rem 1.2rem;
  font-weight: 500;
}

svg {
  @apply !inline-block;
}

ul {
  @apply ml-8 list-disc;
}

body {
  font-family: 'HelveticaNeue-Regular';
}

h1 {
  @apply text-4xl font-bold leading-loose;
}

h2 {
  @apply text-3xl font-bold leading-loose;
}

.black-section {
  @apply my-20 bg-black p-12 pb-12 text-white;
}

.black-section h2 {
  @apply mb-4;
}

.black-section p {
  @apply mb-8;
}

[data-theme='dark'] .black-section {
  @apply bg-white text-black;
}

.hbspt-form {
  @apply mb-20;
}

.breadcrumbs {
  @apply ml-0;
}

.navbar__items .navbar-get-praise {
  background-color: #e6007e;
  @apply rounded-full text-white hover:text-white;
}

.markdown a {
  @apply underline;
}

.heroContainer {
  @apply mb-4 text-center md:mt-12;
}

.heroHeader {
  @apply text-[24vw] font-medium md:text-[200px] md:leading-[230px];
}

.twitter-tweet {
  @apply mx-auto !mb-20;
}

.menu__list .overlap-hover {
  @apply mt-4;
}

.menu__list .overlap-hover {
  @apply invisible;
}

.menu__list-item {
  @apply text-xl text-black;
}

.navbar,
.navbar-sidebar__brand {
  @apply shadow-none;
}
