/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.landingContainer {
  width: 700px;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

.landingContainer a {
  @apply underline;
}

@media screen and (max-width: 750px) {
  .landingContainer {
    width: 100%;
  }
}
